

.landinglogin{
    border: solid 1px grey;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    margin-left: 23px;
}


body{
    overflow: hidden;
    overflow-x: hidden;
}


@media (max-width:760px) {

    .notmember{
        display: none;
    }
    
}
@media (max-width:531px) {

   .right{
    flex-direction: column;
    display: flex !important;
    gap: 5px;
    
   }
    
}
@media (max-width:349px) {

   .left{

    width: 30%;

   }
     
 }
 



