

.landinglogin{
    border: solid 1px grey;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    margin-left: 23px;
}


body{

  
}
.carousel-container{
    max-width: 100%;
    overflow: hidden;
}
.CarouselImages{
    height: auto;

    min-width: 100%;
    box-sizing: border-box;



  
}
.step{

    box-shadow: 2px 2px 2px 2px rgb(208, 208, 208);
    border-radius: 25px;
    max-width: 350px;
    height: 160px;
    font-size: 15px;
}
.steps{

    align-items: center;
    justify-content: space-around;
    gap: 60px;
}
.tutorialbox{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 58px !important;
    min-height: 58px !important;
}
.stepnumber{

    padding: 10px;
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    font-weight: 700;
    font-size: 18px;
    top: 33%;
    left: -22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    min-height: 45px;
    
}
.tutorialbox{

    box-shadow: 2px 2px 2px 2px rgb(208, 208, 208);
    background-color: white;
    width: 100%;
    display: flex;
    min-width: 239px;
    


}



.howtoplayvideo{
    max-width: 900px;
}
.questions{
    overflow: hidden;
    overflow-x: scroll;

    width: 239px;
    gap: 15px;
}

.questions::-webkit-scrollbar{
    background: none;
    width: 3px;
    height: 3px;
    
}

.quest{
    width: 100%;
    min-width: 239px;
    justify-content: center;
    display: flex;
    align-items: center;

}



.faqquestionframe{
    border: 1px solid  rgb(203, 203, 203);
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;

    justify-content: space-between;
}

.footer{
    box-shadow: 2px 2px 2px 2px rgb(203, 203, 203);
}

.copyright{
    border-top: 1px solid rgb(238, 238, 238);
    padding: 20px;
}
.footerframe{
    flex-wrap: wrap;
    gap: 25px;
}
.mainstepframe{
    height: 77px !important;
    min-height: 77px !important;
    background-color: lightgray;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.stepframe{
    max-height: 120px;
}
.stepfirst{
    max-height: 120px;
    height: 120px !important;
}
.freejoin {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
@media (max-width:600px) {
    .footerframe{
        flex-wrap: wrap;
        justify-content: start;
        gap: 25px;
    }
}
@media (max-width:400px) {
    .stepframe{
        width: 270px;
        font-size: 13px;
    }

}
@media (max-width:487px) {
    .footerframe{
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 25px;
    }
    
    .firstline {
        font-size: 12px;
    }
    .firstline strong {
        font-size: 16px;
    }
}
@media (max-width:300px) {
    .copyright{
        font-size: 14px;
    }
    .footerframe{
        flex-wrap: wrap;
        justify-content: start;
        gap: 25px;
    }
}
@media (max-width:800px) {
    .faqquestionframe{
        width: 100%;}
}
.faqframe{
    width: 100%;
}
@media (max-width:1100px) {
    .CarouselImages{
        object-fit: cover;
    }
}
@media (max-width:900px) {
    .CarouselImages{
        object-fit: fill;
    }
}
@media (max-width:1400px) {

    .steps{

        align-items: center;
        justify-content: space-between;
        gap: 60px;
        width: 100%;
    }
    .startplayingframe {
        width: 95%;
    }

}
@media (max-width:1100px) {
    .steps{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 100%;
    }

}
@media (max-width:450px) {
    .UserRating img{
        width: 60px;
    }


}
@media (max-width:1050px) {

    .UserRating{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .ratingvalue{
        font-size: 12px;
        text-align: center;
    }
    .ratingtittle{
        text-align: center;
        font-size: 0.8rem !important;
    }
    .ratingframe{
        justify-content: space-around;
        width: 100%;
        gap: 10px;
    }


      
  }

  
  

@media (max-width:760px) {

    .notmember{
        display: none;
    }
    
}
@media (max-width:475px) {
    .manname{
        display: none;
    }
    .stars{
        gap: 3px;
    }
}
@media (max-width:531px) {
 

   .right{
    gap: 5px;
    font-size: 14px;
   }
   .landinglogin{
    margin-left: 0px;
   }
   .landingpageheader {
    width: 100%;
   }
   .stars img{
    width: 20px;
   }

    
}

@media (max-width:367px) {

    .left{
 
     width: 30%;
 
    }

      
  }
@media (max-width:313px) {

   .left{

    width: 30%;

   }
   .right{
    gap: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
   }
     
 }
 



